{#
    /*
     *
     * (c) 2015 Okta Purnama Rahadian <okta.rahadian@hotmail.com>
     *
     * For the full copyright and license information, please view the LICENSE
     * file that was distributed with this source code.
     */
#}

{% extends 'WikusamaWikufestAppBundle::base.html.twig' %}
{% block body %}
	<div class="row">
							<div class="col-md-12">
								<h1>Schedule</h1>
								<hr>								
							</div>
							<div class="col-md-12">
								<div role="tabpanel">
								  <!-- Nav tabs -->
								  <ul class="nav nav-tabs" role="tablist">
								    <li role="presentation" class="active">
								    	<a href="#1" aria-controls="home" role="tab" data-toggle="tab">30 Januari</a></li>
								    <li role="presentation">
								    	<a href="#2" aria-controls="profile" role="tab" data-toggle="tab">31 Januari</a></li>
								  </ul>
								
								  <!-- Tab panes -->
								  <div class="tab-content">
								    <div role="tabpanel" class="tab-pane fade in active" id="1">
<table class="table table-bordered table-class">
  <thead>
  	<tr>
      <th width="15%" class="text-center"><i class="fa fa-clock-o"></i></th>
      <th width="60%">Session</th>
      <th width="25%">Room</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">07:00 - 07:30</td>
      <td>Registration</td>
      <td class="text-center">Axis Media (Auditorium)</td>
    </tr>
    <tr>
      <td class="text-center">07:30 - 08:00</td>
      <td>Opening Ceremony</td>
      <td class="text-center">Axis Media (Auditorium)</td>
    </tr>
    <tr>
      <td class="text-center">08:00 - 09:30</td>
      <td><b>Benny Fajarai</b><br/><i>"Indonesian Creative Career"</i></td>
      <td class="text-center">Axis Media (Auditorium)</td>
    </tr>
    <tr bgcolor="#cecece">
      <td class="text-center">09:30 - 09:45</td>
      <td colspan="2" class="text-center"><i><b>Break</b></i></td>
    </tr>
    <tr>
      <td class="text-center">09:45 - 11:15</td>
      <td colspan="2" class="text-center"><b>Talk Show by Ikatan Alumni Wikusama (IAW)</b></td>
    </tr>
    <tr bgcolor="#cecece">
      <td class="text-center">11:15 - 13:00</td>
      <td colspan="2" class="text-center"><i><b>Ishoma</b></i></td>
    </tr>
    <tr>
	    <td class="text-center">13:00 - 14:30</td>
	    <td><b>Fauzan Alfi & Muh. Fadhil</b><br/><i>"Maker Party"</i></td>
	    <td class="text-center">Axis Media (Auditorium)</td>	
    </tr>
    <tr>
	    <td class="text-center">13:00 - 14:30</td>
	    <td><b>Gede Arka Puniatmaja</b><br/><i>"Spirit of Struggle"</i></td>
	    <td class="text-center">Telkomsel</td>	
    </tr>
		<tr>
	    <td class="text-center">13:00 - 14:30</td>
	    <td><b>Andika Rahmawati</b><br/><i>"Pursuing Passion"</i></td>
	    <td class="text-center">PrimaFX</td>	
    </tr>
		<tr>
	    <td class="text-center">13:00 - 14:30</td>
	    <td><b>Probo Purwo Wicaksono</b><br/><i>"Dari Mimpi Yang Menjadi Bukti"</i></td>
	    <td class="text-center">Negakom</td>	
    </tr>
		<tr>
	    <td class="text-center">13:00 - 14:30</td>
	    <td><b>Andika Kurniantoro</b><br/><i>"Art of Infrastructure"</i></td>
	    <td class="text-center">EACIIT</td>	
    </tr>
		<tr>
	    <td class="text-center">13:00 - 14:30</td>
	    <td><b>Arief Bayu</b><br/><i>"FirefoxOS Apps Workshop (Part 1)"</i></td>
	    <td class="text-center">Mozilla</td>	
    </tr>
		<tr>
	    <td class="text-center">13:00 - 14:30</td>
	    <td><b>Ghea Safferina</b><br/><i>"Create Your Own Creative Industry"</i></td>
	    <td class="text-center">Pictalogi</td>	
    </tr>
		<tr>
	    <td class="text-center">13:00 - 14:30</td>
	    <td><b>Linda Arfiyanti</b><br/><i>"Glad For Having Problems"</i></td>
	    <td class="text-center">BKT</td>	
    </tr>
		<tr>
	    <td class="text-center">13:00 - 14:30</td>
	    <td><b>Agung Erwan Setyobudi</b><br/><i>"Manusia Biasa, Sedang Belajar"</i></td>
	    <td class="text-center">Paradays</td>	
    </tr>
		<tr>
	    <td class="text-center">13:00 - 14:30</td>
	    <td><b>Caesar Aldela</b><br/><i>"Bagaimana Brand dan Design Akan Merubah Bisnis Kecilmu"</i></td>
	    <td class="text-center">Sprei Bola</td>	
    </tr>    
    <tr bgcolor="#cecece">
      <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
	    <td class="text-center">14:30 - 16:00</td>
	    <td><b>Fauzan Alfi & Muh. Fadhil</b><br/><i>"Maker Party"</i></td>
	    <td class="text-center">Axis Media (Auditorium)</td>	
    </tr>
    <tr>
	    <td class="text-center">14:30 - 16:00</td>
	    <td><b>Agung Erwan Setyobudi</b><br/><i>"Manusia Biasa, Sedang Belajar"</i></td>
	    <td class="text-center">Telkomsel</td>	
    </tr>
		<tr>
	    <td class="text-center">14:30 - 16:00</td>
	    <td><b>Linda Arfiyanti</b><br/><i>"Glad For Having Problems"</i></td>
	    <td class="text-center">PrimaFX</td>	
    </tr>
		<tr>
	    <td class="text-center">14:30 - 16:00</td>
	    <td><b>Dimas Anugerah</b><br/><i>"It's Your Time"</i></td>
	    <td class="text-center">Negakom</td>	
    </tr>
		<tr>
	    <td class="text-center">14:30 - 16:00</td>
	    <td><b>Andika Kurniantoro</b><br/><i>"Art of Infrastructure"</i></td>
	    <td class="text-center">EACIIT</td>	
    </tr>
		<tr>
	    <td class="text-center">14:30 - 16:00</td>
	    <td><b>Arief Bayu</b><br/><i>"FirefoxOS Apps Workshop (Part 2)"</i></td>
	    <td class="text-center">Mozilla</td>	
    </tr>
		<tr>
	    <td class="text-center">14:30 - 16:00</td>
	    <td><b>Probo Purwo Wicaksono</b><br/><i>"Dari Mimpi Yang Menjadi Bukti"</i></td>
	    <td class="text-center">Pictalogi</td>	
    </tr>
		<tr>
	    <td class="text-center">14:30 - 16:00</td>
	    <td><b>Denny Key</b><br/><i>"Lift Up Your Music Creativity"</i></td>
	    <td class="text-center">BKT</td>	
    </tr>
		<tr>
	    <td class="text-center">14:30 - 16:00</td>
	    <td><b>Helga Indra</b><br/><i>"Memaksimalkan Hobi Sebagai Penghasilan Tambahan"</i></td>
	    <td class="text-center">Paradays</td>	
    </tr>
		<tr>
	    <td class="text-center">14:30 - 16:00</td>
	    <td><b>Eko Yanuarianto</b><br/><i>"No Excuse"</i></td>
	    <td class="text-center">Sprei Bola</td>	
    </tr>    

    <tr bgcolor="#cecece">
      <td class="text-center">16:00 - 17:00</td>
      <td colspan="2" class="text-center"><i><b>Games & Closing</b></i></td>
    </tr>
  </tbody>
</table>									    
								    </div>
								    <div role="tabpanel" class="tab-pane fade" id="2">
<table class="table table-bordered table-class">
  <thead>
  	<tr>
      <th width="15%" class="text-center"><i class="fa fa-clock-o"></i></th>
      <th width="60%">Session</th>
      <th width="25%">Room</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">07:30 - 09:00</td>
      <td>Adhicipta R. Wirawan</td>
      <td class="text-center">Axis Media (Auditorium)</td>
    </tr>
    <tr bgcolor="#cecece">
      <td class="text-center">09:00 - 09:15</td>
      <td colspan="2" class="text-center"><i><b>Break</b></i></td>
    </tr>
    <tr>
	    <td class="text-center">10:00 - 11:30</td>
	    <td><b>Bagus Restya</b><br/><i>"Orang Yang Dicari Oleh Perusahaan Hebat"</i></td>
	    <td class="text-center">Axis Media (Auditorium)</td>	
    </tr>
    <tr>
	    <td class="text-center">10:00 - 11:30</td>
	    <td><b>Lathiful Amri</b><br/><i>"Dari Sabang Sampai Merauke"</i></td>
	    <td class="text-center">Telkomsel</td>	
    </tr>
		<tr>
	    <td class="text-center">10:00 - 11:30</td>
	    <td><b>Denma R. Willyando</b><br/><i>"Wikusama Ready for MEA"</i></td>
	    <td class="text-center">PrimaFX</td>	
    </tr>
		<tr>
	    <td class="text-center">10:00 - 11:30</td>
	    <td><b>Helga Indra</b><br/><i>"Memaksimalkan Hobi Sebagai Penghasilan Tambahan"</i></td>
	    <td class="text-center">Negakom</td>	
    </tr>
		<tr>
	    <td class="text-center">10:00 - 11:30</td>
	    <td><b>Arief Darmawan</b><br/><i>"Big Data + Big Creativity"</i></td>
	    <td class="text-center">EACIIT</td>	
    </tr>
		<tr>
	    <td class="text-center">10:00 - 11:30</td>
	    <td><b>Rizki Dwi Kelimutu</b><br/><i>"SuMo (Support Mozilla) Sprint (Part 1)"</i></td>
	    <td class="text-center">Mozilla</td>	
    </tr>
		<tr>
	    <td class="text-center">10:00 - 11:30</td>
	    <td><b>Fauzan Alfi</b><br/><i>"Firefox Student Ambassador"</i></td>
	    <td class="text-center">Pictalogi</td>	
    </tr>
		<tr>
	    <td class="text-center">10:00 - 11:30</td>
	    <td><b>Gede Arka Puniatmaja</b><br/><i>"Spirit of Struggle"</i></td>
	    <td class="text-center">BKT</td>	
    </tr>
		<tr>
	    <td class="text-center">10:00 - 11:30</td>
	    <td><b>Adria M. Kosasih</b><br/><i>"Animasi, Mudah & Menyenangkan (Part 1)"</i></td>
	    <td class="text-center">Paradays</td>	
    </tr>
		<tr>
	    <td class="text-center">10:00 - 11:30</td>
	    <td><b>Andika Rahmawati</b><br/><i>"Pursuing Passion"</i></td>
	    <td class="text-center">Sprei Bola</td>	
    </tr>    

    <tr bgcolor="#cecece">
      <td class="text-center">11:15 - 13:00</td>
      <td colspan="2" class="text-center"><i><b>Ishoma</b></i></td>
    </tr>

    <tr>
	    <td class="text-center">12:30 - 14:00</td>
	    <td><b>Erlina D. Rostita</b><br/><i>"Find Your Self, And Lead Your Life"</i></td>
	    <td class="text-center">Axis Media (Auditorium)</td>	
    </tr>
    <tr>
	    <td class="text-center">12:30 - 14:00</td>
	    <td><b>Lathiful Amri</b><br/><i>"Dari Sabang Sampai Merauke"</i></td>
	    <td class="text-center">Telkomsel</td>	
    </tr>
		<tr>
	    <td class="text-center">12:30 - 14:00</td>
	    <td><b>Bagus Restya</b><br/><i>"Orang Yang Dicari Oleh Perusahaan Hebat"</i></td>
	    <td class="text-center">PrimaFX</td>	
    </tr>
		<tr>
	    <td class="text-center">12:30 - 14:00</td>
	    <td><b>Caesar Aldela</b><br/><i>"Bagaimana Brand dan Design Akan Merubah Bisnis Kecilmu"</i></td>
	    <td class="text-center">Negakom</td>	
    </tr>
		<tr>
	    <td class="text-center">12:30 - 14:00</td>
	    <td><b>Arief Darmawan</b><br/><i>"Big Data + Big Creativity"</i></td>
	    <td class="text-center">EACIIT</td>	
    </tr>
		<tr>
	    <td class="text-center">12:30 - 14:00</td>
	    <td><b>Rizki Dwi Kelimutu</b><br/><i>"SuMo (Support Mozilla) Sprint (Part 2)"</i></td>
	    <td class="text-center">Mozilla</td>	
    </tr>
		<tr>
	    <td class="text-center">12:30 - 14:00</td>
	    <td><b>Dimas Anugerah</b><br/><i>"It's Your Time"</i></td>
	    <td class="text-center">Pictalogi</td>	
    </tr>
		<tr>
	    <td class="text-center">12:30 - 14:00</td>
	    <td><b>Irayani Queencyputri</b><br/><i>"Privacy and Security On The Web"</i></td>
	    <td class="text-center">BKT</td>	
    </tr>
		<tr>
	    <td class="text-center">12:30 - 14:00</td>
	    <td><b>Adria M. Kosasih</b><br/><i>"Animasi, Mudah & Menyenangkan (Part 2)"</i></td>
	    <td class="text-center">Paradays</td>	
    </tr>
		<tr>
	    <td class="text-center">12:30 - 14:00</td>
	    <td><b>Denny Key</b><br/><i>"Lift Up Your Music Creativity"</i></td>
	    <td class="text-center">Sprei Bola</td>	
    </tr>    

    <tr bgcolor="#cecece">
      <td class="text-center">14:00 - 15:00</td>
      <td colspan="2" class="text-center"><i><b>Mentors Meetup</b></i></td>
    </tr>
    <tr bgcolor="#cecece">
      <td class="text-center">15:00 - 15:30</td>
      <td colspan="2" class="text-center"><i><b>Games</b></i></td>
    </tr>
		<tr>
	    <td class="text-center">15:30 - 17:00</td>
	    <td><b>Wahyu Liz</b><br/><i>"[Judul Materi]"</i></td>
	    <td class="text-center">Axis Media (Auditorium)</td>	
    </tr>    
    <tr bgcolor="#cecece">
      <td colspan="3" class="text-center"><i><b>The End</b></i></td>
    </tr>
  </tbody>
</table>									    
									    
								    </div>
								  </div>								
								</div>
								<div class="clear">&nbsp;</div>								
							</div>															

						</div>
{% endblock %}
